<html>

<head>
<title>Boxplots</title>
</head>

<body>
<a href="index.html">Back to Graphical Methods</a> | 
<a href="histograms.html"> Histograms</a> 

<p>
<h3>Boxplots</h3>

<p>A box plot provides an excellent visual summary of many important aspects of a distribution. 
The box stretches from the lower hinge (defined as the 25th percentile) to the upper hinge (the 75th percentile) and therefore contains the middle half of the scores in the distribution.</p>

<p>A boxplot, or box and whisker diagram, provides a simple graphical summary of a set of data. It shows a measure of central location (the median), two measures of dispersion (the range and inter-quartile range), the skewness (from the orientation of the median relative to the quartiles) and potential outliers (marked individually). 
Boxplots are especially useful when comparing two or more sets of data.</p> 
</p>
<!--begin.rcode
library(MASS)
# boxplot on a formula:
boxplot(count ~ spray, data = InsectSprays, col = "lightgray")
end.rcode-->

<!--begin.rcode
# *add* notches (somewhat funny here):
# boxplot(count ~ spray, data = InsectSprays, notch = TRUE, add = TRUE, col = "blue")
end.rcode-->



<h5>Components of a boxplot</h5>

The location and shape of the central component (i.e. the ``Box") is determined by the following values:
First Quartile,  Median, Third Quartile.




The rest of the plot, including the ``Whiskers", are determined by the following:
\vspace{0.6cm}
\begin{itemize}
\item The presence of outliers
\begin{itemize}
\item Any value greater than $Q_3 + 1.5 \times IQR $
\item Any value less than $Q_1 - 1.5 \times IQR $
\end{itemize}
\item Largest Value (that is not an outlier).
\item Smallest Value (that is not an outlier).
\end{itemize}



<!--begin.rcode
summary(cars)
end.rcode-->



</body>
</html>
