<html>

<head>
<title>Matrices</title>
</head>

<body>
<h1> More on Matrices</h1>
<a href="RWorkshop.github.io">Main Page</a> | <a href="RWorkshop.github.io/Maths">Mathematical Operations</a> | <a href="index">Matrices Index</a>


<h3>Using <code>rbind()</code> and <code>cbind()</code></h3>
<ul>
<li> Another methods of creating a matrix is to "bind" a number of vectors together, either by row or by column. 
<li> The commands are <code>rbind()</code> and <code>cbind()</code> respectively.
</ul>
<!--begin.rcode
x1 <- c(1,2,4)  
x2 <- c(3,8,4)
x3 <- c(1,4,3)

A <- rbind(x1,x2,x3) 
B <- cbind(x1,x2,x3)

A
B
end.rcode-->


<h4>Diagonals</h4>

<!--begin.rcode
Vec2=c(1,2,3)
diag(Vec2)	#	Constructs a diagonal matrix based on values of Vec2
diag(A)	#        Returns diagonal elements of A as a vector
end.rcode-->

<!--begin.rcode
diag(3)	#	creates a 3 x 3 identity matrix
diag(diag(A)) #  	Diagonal matrix D of matrix A ( Jacobi Method)
end.rcode-->


</body>
</html>
