<html>

<head>
<title>Matrices</title>
</head>

<body>
<h1> Matrix Calculations</h1>
<a href="RWorkshop.github.io">Main Page</a> | <a href="RWorkshop.github.io/Maths">Mathematical Operations</a> | <a href="index">Matrices Index</a>
<p>
Before we begin, let's set up some matrices to work with.
</p>
<!--begin.rcode
x1 <- c(1,2,4);x2 <- c(3,8,4);x3 <- c(1,4,3)
A <- rbind(x1,x2,x3); C <- cbind(x1,x2,x3)
rownames(A) <- NULL; 
end.rcode-->

<h3>Addition and subtractions</h3>
<ul>	
<li>	For matrices, addition and subtraction works on an element-wise basis. 
<li>	The first elements of the respective matrices are added, and so on.
</ul>
<!--begin.rcode
A+C
end.rcode-->
<!--begin.rcode
A-C
end.rcode-->

<h3>Matrix Multiplication</h3> 
<ul>
<li> To multiply matrices, we require a special operator for matrices <code>\%*\%</code>. 
<li> If we just used the normal multiplication, we would get an element-wise multiplication.
<li> This type of operation is very useful as a substitute for <b><code>for</code></b> loops on many occasions. 
</ul>

<!--begin.rcode
A %*% C
end.rcode-->

<!--begin.rcode
A*C
end.rcode-->

</body>
</html>
