<html>

<head>
<title>Matrices</title>
</head>

<body>
<h1>Basics Linear Algebra</h1>
<a href="RWorkshop.github.io">Main Page</a> | <a href="RWorkshop.github.io/Maths">Mathematical Operations</a> | <a href="index">Matrices Index</a>
<p>
Before we begin, let's set up some matrices to work with.
</p>
<!--begin.rcode
x1 <- c(1,2,4);x2 <- c(3,8,4);x3 <- c(1,4,3)
A <- rbind(x1,x2,x3); C <- cbind(x1,x2,x3)
b <- c(1,5,4)
rownames(A) <- NULL; 
end.rcode-->


<h3>Inverting a matrix</h3>

To invert a matrix we use the command solve() with no additional argument. Remember - Not all matrices are invertible. It the determinant of a matrix is zero, then no inverse exists.
<!--begin.rcode
solve(C)
end.rcode-->

We can use this same command to solve a system of linear equations Ax=b. We would specify the vector b as the additional argument. 

<h4>Computing the determinant</h4>
To compute the determinant, the command is simply det() 


<h3>Solving a System of Linear Equations</h3>
To solve a system of linear equations in the form Ax=b , where A is a square matrix, and b is a column vector of known values, we use the solve() command to determine the values of the unknown vector x.

	
<!--begin.rcode
solve(A, b)
end.rcode-->


We can compute crossproducts using the crossprod () command. If only one matrix is used it
<!--begin.rcode
crossprod(A,C) 		# A'C
crossprod(A) 			# A'A
end.rcode-->

<p>You can also embed plots, for example:</p>



</body>
</html>
