<html>

<head>
<title>Testing for Normality</title>
</head>

<body>


<h4>Shapiro-Wilk Test</h4>
The first test we will look at is the Shapiro-Wilk test.
<!--begin.rcode
X <- rnorm(10,100,2)
shapiro.test(X)

end.rcode-->
As the p-value is very high, we fail to reject the null hypothesis that the data set ``Vec" is normally distributed.

<h5>Normal Probability Plots</h5>

<!--begin.rcode
qqnorm(X ,pch=18,col="red")  #draws a QQ plot that is used to check for normality.
qqline(X)  #adds trend line to QQplot.
end.rcode-->



</body>
</html>
